.underlineOnHover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: text-decoration 0.2s;
  }
  
  .underlineOnHover:hover {
    text-shadow: 1px 1px 4px white;
  }
  
  .Navbody{    
    color: blue !important;
    box-shadow: 0px 4px 4px white;
    background: linear-gradient(to bottom, white, black );
    position: fixed;   
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure the navbar stays on top of other content */
    /* Add any other styles you need */
  }